<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    
    {% block innhold %}
    <nav>
        <div><a href="/">Haryy Potter</a></div>
        <div><a href="/griffendor">Griffendor</a></div>
        <div><a href="/slytherin">Slytherin</a></div>
        <div><a href="/huffelpuff">Hufflepuff</a></div>
        <div><a href="/ravenclaw">Ravenclaw</a></div>

    </nav>
    {% endblock %}
</body>
</html>