<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{url_for("static", filename="nav.css")}}'>
    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
    <title></title>
</head>
<body>
    <header>
        <nav>
            <div><img src="/logo.png" alt="">Logo</div>
            <div><a href="/">Harry Potter</a></div>
            <div><a href="/gryffindor">Griffendor</a></div>
            <div><a href="/slytherin">Slytherin</a></div>
            <div><a href="/hufflepuff">Hufflepuff</a></div>
            <div><a href="/ravenclaw">Ravenclaw</a></div>
    
        </nav>
    </header>
    <main>
        {% block innhold %}
        
        {% endblock %}
    </main>
</body>
</html>